// .show-dog {
//   display: grid;
//   grid-template-columns: 2fr 1fr;
//   grid-template-rows: 1fr 2fr 2fr;
//   grid-gap: 16px;
//   // grid-template-areas:
//   //   ""
// }

// .dog-image {
//   grid-column: 1/2;
//   grid-row: 1/4;
//   // text-align: center;
//   width: 100%;
//   max-height: 100%;
// }

// .title {
//   grid-column: 2/3;
//   grid-row: 1/2;
//   text-align: center;

// }

// .dog-info {
//   grid-column: 2/3;
//   grid-row: 2/3;
//   display: flex;
//   justify-content: center;
//   // text-align: center;

// }

// .links {
//   grid-column: 2/3;
//   grid-row: 3/4;
//   text-align: center;

// }

.show-dog {
  padding: 40px;
}

.btn-booking {
  width: 130px;
  font-size: 15px;
  margin: 0 auto;
}

.cancel-link {
  text-align: center;
}

.card-product-dog {
  overflow: hidden;
  margin: 50px auto;
  // height: 400px;
  width: 60%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  height: fit-content;
}

.dog-image {
  height: 100%;
  width: 50%;
  background-size: cover;
}

.card-product h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

