.square-container {

  position:relative;
  width: 583px;
  height: 538px;


  }


.poligon {
  background-color: #ffe7d1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.5;
  width: 550px;
  height: 300px;
  // -webkit-clip-path: polygon(15% 0, 100% 0, 83% 100%, 0 100%);
  // clip-path: polygon(15% 0, 100% 0, 83% 100%, 0 100%);
  position: absolute;
  margin-top: 47px;
  text-align: center;
  border-radius: 25px;

}

  .beige {
      z-index: 3;
      bottom: -90px;
      left: 400px;

      p {
      position: absolute;
      margin-top: -15px;
      padding: 20px;

      }


  }

  .orange {

    right: -80px;

    p {
      position: absolute;
      margin-top: -45px;
      padding: 50px;
      opacity: 1;
      color: #FF751A;

      }


  }

  .orange_2 {

    left: 725px;

    p {
      position: absolute;
      margin-top: -42.5px;
      padding: 50px;
      opacity: 1;

      }


  }



