.square-container {

  position:relative;
  width: 583px;
  height: 538px;


  }


.poligon {
  background-color: #ffe7d1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.5;
  width: 583px;
  height: 316px;
  // -webkit-clip-path: polygon(15% 0, 100% 0, 83% 100%, 0 100%);
  // clip-path: polygon(15% 0, 100% 0, 83% 100%, 0 100%);
  position: absolute;
  margin-top: 47px;

}

  .beige {
      bottom: -106px;
      left: 444px;

      p {

      padding: 86px;


      }


  }

  .orange {

    background: #FF7010;
    z-index: 3;
    right: -96px;

    p {

      padding: 86px;
      opacity: 1;

      }


  }



