.container{
  padding: 110px;
}


.flex-center {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 130px;
}
.login_container {

  top: 200px;
  width: 200px;
}

.body {
  background-image:url('https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-position:center;
  background-size:cover;
  filter: blur(4px);
  height: 100vh;
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff!important;
    opacity: 1; /* Firefox */
    font-size:18px!important;
}
.form-login {
    background-color: rgba(0,0,0,0.55);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}
.form-control{
    background:transparent!important;
    // color:white!important;
    font-size: 18px!important;
}

.btn-outline-secondary{
    color: white;
    border-radius: 10px;
}
// h1{
//     color:white!important;
// }
h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}
.text-white{
    color: white!important;
}
.wrapper {
    text-align: center;
}
.footer p{
    font-size: 18px;
}
