.profile-container {
  width: 90%;
  margin: 0 auto;
}

.dog-content {
  padding: 20px;
}

.card {
  background-color: none;
  border-radius: 0 0 0 white;
}

.my-bookings {
  border-bottom: 1px solid #FE8238;
}
