<div class="new-payment new-dog-input">
  <h1 class="text-center" style="color: #FF7010;">Please enter payment details</h1>
    <%= render 'form', payment: @payment %>



  <div class="btn-cancel new-payment"><%= link_to "Cancel", dogs_path(@dog), class:"link-text"%></div>
</div>
