.banner {
  background-size: cover;
  background-position: center;
  height: 550px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.35)

}

.banner h1 {
  font-family: Fredoka One, Helvetica, sans-serif;
  margin: 0;
  opacity: .6;
  color: #FFF;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 6px;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.banner p {
  font-family: Fredoka One, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFF;
  opacity: .6;
   letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  animation-name: moveInRight;
  animation-duration: 3s;
}

.banner-text{
  position: fixed;
  top: 400px;
}

.link-text:hover {

  text-decoration: none;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);



  }


}

@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);

  }

  100% {
    opacity: 1;
    transform: translate(0px);



  }


}


@media only screen and (height:90px) {
   /* 90 pixels high */
   .banner {
      height:90px;
   }
}
@media only screen and (height:125px) {
   /* 125 pixels high */
   .banner {
      height:125px;
   }
}
