.banner {
  background-size: cover;
  padding: 50px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  animation-name: moveInRight;
  animation-duration: 3s;
}

.link-text:hover {

  text-decoration: none;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);



  }


}

@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);

  }

  100% {
    opacity: 1;
    transform: translate(0px);



  }


}


@media only screen and (height:90px) {
   /* 90 pixels high */
   .banner {
      height:90px;
   }
}
@media only screen and (height:125px) {
   /* 125 pixels high */
   .banner {
      height:125px;
   }
}
