.btn-treehouse {
  font-family: 'Roboto', sans-serif;
  background-color: #FF751A;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 16px 25px;
  opacity: 0.8;
  text-align: center;
}

.btn-treehouse:hover{
  background-color: #f9ae2c;
  text-decoration: none !important;
  transition: .2s;
  transform: translateY(3px);
  box-shadow: 2px 10px 20px rgba(1,1,1,0.2);
}

.btn-treehouse:active{
  transform: translateY(2px);
  box-shadow: 1px 5px 10px rgba(1,1,1,0.2);
}

.btn-orange-border {
  font-family: 'Roboto', sans-serif;
  border: 0.5mm solid #FF751A ;
  font-weight: lighter;
  border-radius: 18px;
  text-align: none;
  padding: 16px 20px;
  transition: .2s;
  color: #FF751A;
}

.btn-orange-border:hover {
  color: #f9ae2c;
  border: 0.5mm solid #f9ae2c;
}

.btn-signin{
  position: relative;
  top: -20px;
  left: 20px;
}

.button-owner {
  font-size: 19px;
  width: 175px;
  letter-spacing: 2px;
  position: absolute;
  font-family: Fredoka One, Helvetica, sans-serif;
  left: 200px;
  opacity: .9;
}

.button-user{
  font-size: 18px;
  width: 175px;
  letter-spacing: 2px;
  position: absolute;
  font-family: Fredoka One, Helvetica, sans-serif;
  left: 450px;
  opacity: .9;
}
.button-alldogs{
  position: absolute;
  top: - 15px;
  width: 300px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: Fredoka One, Helvetica, sans-serif;
  opacity: .9;
}


