.btn-treehouse {
  font-family: Raleway, Helvetica, sans-serif;
  background-color: #FF751A;
  font-weight: bold;
  border-radius: 10px;
  padding: 0px 16px;
  opacity: 0.8;
  width: 200px;
  margin: 16px;
  color: white;
  text-align: center;
  text-decoration: none;

}

.btn-treehouse:hover{
  background-color: #f9ae2c;
  text-decoration: none !important;
  transition: .4s;
}
