

.form-booking-container {
  width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 100px;
}

.form-booking-input {
  width: 300px;
}

.form-booking-image {
  height: 250px;
  width: 350px;
}


.box {
  background-color: white;
  border-radius: 5px;
}

.booking-background {
  background-image: url("background-bookings");
}
