
/*
navbar -color = #D65D17
base-font = #fff
*/

.nav-link{
  color: #fff;
}
.navbar-lewagon {
  justify-content: space-between;
  padding: 10px 50px;
  width: 100%;

  // background-image: linear-gradient(to right, #FF7010, #FFD50B);
  opacity: 0.9;
}

.signin-link{
  color: #FFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fedoka {
 font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 130px;
  bottom: 9px;
}

.navbar-brand{
position: relative;
}

.logo {
  font-family: Fredoka One, Helvetica, sans-serif;
  letter-spacing: 9px;
  padding-top: 12px;
  font-size: 32px;
  color: #FFF;
  opacity: .8;
  position: absolute;
  top: 7.5px;
  left: 75px;
  opacity: .8;
}
.add-dog {
  color: #FFF;
}

.nav-item{
  font-family: Fredoka One, Helvetica, sans-serif;
  margin: 0 15px;
  letter-spacing: 2px;
  opacity: .7;
}
.nav-text{
  font-family: Fredoka One, Helvetica, sans-serif;
  color: #FFF;
}

#navbarDropdown{
  color: white;
}
