.navbar-lewagon {
  justify-content: space-between;
  background: #FF7A02;
  background-image: linear-gradient(to right, #FF7010, #FFD50B);
  opacity: 0.9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
